.header .main-logo img {height:50px;}
.navbar .nav-link{
	padding-top: 0 !important;
	padding-bottom: 0 !important;
}
.header .brand{
	font-size: 28px;
}
.header .phone{
	color: #999;
}
.content img{
	width:100%;
}
.nav{
	
}